html {
  height: 100%;
}

body {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: bisque;
  color: red;
}

.gameResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
}

button {
  width: 70px;
  height: 70px;
}